<% include ./partials/header %>

<!--Games Section-->
<section class="container">
    <h2>Upcoming Games...</h2>
    <div class="scroll-wrapper">
        <% games.forEach((game) => { %>
        <div class="schedule-box">
            <a href="/games/<%= game._id %>">
                <img src="/images/<%= Math.floor(Math.random() * 4 + 1) %>.jpg" alt="soccer field">
                <div class="cal-leaf">
                    <span class="month"><%= moment(game.date).format("MMM") %></span>
                    <span class="day"><%= game.date.getDate() %></span>
                </div>
                <div class="schedule-text">
                    <datetime><%= moment(game.date).format('LL') %></datetime>
                    <h3><%= game.title %></h3>
                    <h4><%= `Created by ${game.creator.username}` %></h4>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</section>

<!--Leagues Section-->
<section class="container">
    <h2>Available leagues...</h2>
    <div class="scroll-wrapper">
        <% games.forEach((game) => { %>
        <div class="schedule-box">
            <img src="/images/<%= Math.floor(Math.random() * 4 + 1) %>.jpg" alt="soccer field">
            <div class="cal-leaf">
                <span class="month"><%= moment(game.date).format("MMM") %></span>
                <span class="day"><%= game.date.getDate() %></span>
            </div>
            <div class="schedule-text">
                <datetime><%= moment(game.date).format('LL') %></datetime>
                <h3><%= game.title %></h3>
                <h4><%= `Created by ${game.creator.username}` %></h4>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<% include ./partials/footer %>