<% include ./partials/header %>

<!--Games Section-->
<section class="container">
    <h2>Upcoming Games...</h2>
    <div class="scroll-wrapper">
        <% games.forEach((game) => { %>
        <div class="schedule-box">
            <a href="/games/<%= game._id %>">
                <img src="/images/<%= Math.floor(Math.random() * 4 + 1) %>.jpg" alt="soccer field">
                <div class="cal-leaf">
                    <span class="month"><%= moment(game.date).format("MMM") %></span>
                    <span class="day"><%= game.date.getDate() %></span>
                </div>
                <div class="schedule-text">
                    <time><%= moment(game.date).format('LL') %></time>
                    <h3><%= game.title %></h3>
                    <h4><%= `Created by ${game.creator.username}` %></h4>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</section>

<!--Leagues Section-->
<section class="container">
    <h2>Available leagues...</h2>
    <div class="scroll-wrapper">
        <% games.forEach((game) => { %>
        <div class="schedule-box">
            <img src="/images/<%= Math.floor(Math.random() * 4 + 1) %>.jpg" alt="soccer field">
            <div class="cal-leaf">
                <span class="month"><%= moment(game.date).format("MMM") %></span>
                <span class="day"><%= game.date.getDate() %></span>
            </div>
            <div class="schedule-text">
                <time><%= moment(game.date).format('LL') %></time>
                <h3><%= game.title %></h3>
                <h4><%= `Created by ${game.creator.username}` %></h4>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<!--Discussions Section-->
<section class="container">
    <h2>Discussions...</h2>
    <div class="discussion-wrapper">
        <% discs.forEach((disc) => { %>
        <div class="discussion-box">
            <a href="/discussions/<%= disc._id %>">
                <h4><%= disc.title %></h4>
                <div class="discussion-info">
                    <time datetime="<%= moment(disc.createdAt).format('YYYY-MM-DD') %>"><%= moment(disc.createdAt).format('L') %></time>
                    at 
                    <time datetime="<%= moment(disc.createdAt).format('HH:MM') %>"><%= moment(disc.createdAt).format('LT') %></time>
                    <em>·</em>
                    <%= disc.creator.username %>
                </div>
                <div class="discussion-extra">
                    <i class="fas fa-comment-alt"></i>
                    <%= disc.comments.length %>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</section>

<% include ./partials/footer %>