<% include ../partials/header %>

<% let time = game.date.getHours() < 10 ? "0" + game.date.getHours() : game.date.getHours() %>
<% time += ":" %>
<% time += game.date.getMinutes() < 10 ? "0" + game.date.getMinutes() : game.date.getMinutes() %>

<div class="container">
    <h2 class="title">Add a new game</h2>
    <form class="form-game" action="/games/<%= game._id %>?_method=PUT" method="post">
        
        <label class="game-input-desc" for="game-title">Game Title</label>
        <input class="game-input" type="text" id="game-title" name="game[title]" value="<%= game.title %>" required/>
        
        <label class="game-input-desc" for="game-address">Address</label>
        <input class="game-input" type="text" id="game-address" name="game[address]" value="<%= game.address %>" required/>
        
        <!--Date/time inputs-->
        <div class="game-datetime">
            <div class="nativeDatePicker game-date">
                <label class="game-input-desc" for="game-date">Date</label>
                <input class="game-input" type="date" id="game-date" name="game[date]" value="<%= `${game.date.getFullYear()}-${game.date.getMonth()+1}-${game.date.getDate()}` %>" required>
            </div>
            <p class="fallbackDateLabel">Date</p>
            <div class="fallbackDatePicker">
                <span>
                    <label for="day">Day:</label>
                    <select id="day" name="day">
                    </select>
                </span>
                <span>
                    <label for="month">Month:</label>
                    <select id="month" name="month">
                        <option value="01" selected>January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </span>
                <span>
                    <label for="year">Year:</label>
                    <select id="year" name="year">
                    </select>
                </span>
            </div>
            
            <div class="nativeTimePicker game-time">
                <label class="game-input-desc" for="game-time">Time</label>
                <input class="game-input" id="game-time" type="time" name="game[time]" value="<%= time %>" required>
            </div>
            <p class="fallbackTimeLabel">Time</p>
            <div class="fallbackTimePicker">
                <div>
                <span>
                    <label for="hour">Hour</label>
                    <select id="hour" name="hour">
                    </select>
                </span>
                <span>
                    <label for="minute">Minute</label>
                    <select id="minute" name="minute">
                    </select>
                    </span>
                </div>
            </div>
        </div>
        <!--End of date/time inputs-->
        
        <fieldset>
            <legend class="game-input-desc">Game Type</legend>
            
            <label for="game-type1">Pickup</label>
            <input type="radio" id="game-type1" name="game[gameType]" value="Pickup" checked="<% game.gameType === "Pickup" ? "true" : "false" %>" required/>
            
            <label for="game-type2">Game</label>
            <input type="radio" id="game-type2" name="game[gameType]" value="Game" checked="<% game.gameType === "Game" ? "true" : "false" %>"/>
        </fieldset>
        
        <label class="game-input-desc" for="game-field">Field Type</label>
        <select class="game-input" id="game-field" name="game[fieldType]" required>
            <option value="">--Please choose a field type--</option>
            <option value="Grass" selected="<% game.fieldType === "Grass" ? "true" : "false" %>">Grass</option>
            <option value="Turf" selected="<% game.fieldType === "Turf" ? "true" : "false" %>">Turf</option>
            <option value="Astroturf" selected="<% game.fieldType === "Astroturf" ? "true" : "false" %>">Astroturf</option>
            <option value="Street" selected="<% game.fieldType === "Street" ? "true" : "false" %>">Street</option>
        </select>
        <button class="btn btn-comment">Submit</button>
    </form>
</div>

<% include ../partials/footer %>