<% include ../partials/header %>

<% const monthArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
<!--Games Section-->
<section class="container">
    <h2>Upcoming Games...</h2>
    <% games.forEach((game) => { %>
    <div class="schedule-box">
        <a href="/games/<%= game._id %>">
            <img src="/images/<%= Math.floor(Math.random() * 4 + 1) %>.jpg" alt="soccer field">
            <div class="cal-leaf">
                <span class="month"><%= monthArray[game.date.getMonth()] %></span>
                <span class="day"><%= game.date.getDate() %></span>
            </div>
            <div class="schedule-text">
                <datetime><%= game.date.toDateString() %></datetime>
                <h3><%= game.title %></h3>
                <h4>Created by: Chamo</h4>
            </div>
        </a>
    </div>
    <% }); %>
</section>

<% include ../partials/footer %>