<% include ../partials/header %>

<!--show Section-->
<section class="container">
    
    <div class="grid">
        
        <div class="info-card">
            <time class="info-item info-time" datetime="<%= game.date.toDateString() %>"><%= moment(game.date).format('LL') %></time>
            <div class="info-item info-title"><%= game.title %></div>
            <p class="info-item info-creator"><%= `Created ${moment(game.createdAt).fromNow()} by ${game.creator.username}` %></p>
            <div class="info-item">Field type: <span class="pill"><%= game.fieldType %></span></div>
            <div class="info-item">Game type: <span class="pill"><%= game.gameType %></span></div>
            <% if (currentUser && game.creator.id.equals(currentUser._id)) { %>
            <div class="info-item info-buttons">
            <a class="btn btn-edit" href="/games/<%= game._id %>/edit">Edit</a>
            <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <button class="btn btn-delete">Delete</button>
            </form>
            </div>
            <% } %>
        </div>
        
       <div class="info-card">
            <div class="info-location">
                <time class="info-time" datetime="<%= game.date.toDateString() %>"><%= moment(game.date).format('LL') %></time>
                <time class="info-time" datetime="<%= moment(game.date).format('LT') %>"><%= moment(game.date).format('LT') %></time>
                <p class="info-item"><%= game.address %></p>
            </div>
            <div id="map"></div>
        </div>
        
        <div class="info-card">
            <div class="info-players">
                <p>Who's going</p>
                <ul>
                    <li class="info-player">Homer</li>
                    <li class="info-player">Marge</li>
                    <li class="info-player">Bart</li>
                    <li class="info-player">Lisa</li>
                    <li class="info-player">Maggie</li>
                </ul>
            </div>
        </div>
        
        <div class="info-card comment-box">
            <div class="comment-box-top">
                <p><%= game.comments.length %> comments</p>
                <a class="btn btn-comment" href="/games/<%= game._id %>/comments/new">Add comment</a>
            </div>
            
            <hr>
            <% if (game.comments.length > 0) { %>
            <% game.comments.forEach((comment) => { %>
            <div class="comment">
                <div class="comment-header">
                    <div class="comment-avatar">
                        <img src="/images/avatar.png"></img>
                    </div>
                    <div class="comment-author">
                        <p><%= comment.author.username %></p>
                    </div>
                    <div class="comment-date">
                        <small class="comment-date"><%= moment(comment.createdAt).fromNow() %></small>
                    </div>
                </div>
                <div class="comment-text">
                    <%= comment.text %>
                    <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <div class="comment-buttons">
                        <a class="comment-edit" href="/games/<%= game._id %>/comments/<%= comment._id %>/edit">Edit</a>
                        <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="comment-delete">Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
            <% }) %>
            <% } %>
        </div>
        
    </div>
    
</section>

<script>
    function initMap() {
        var lat = <%= game.lat %>;
        var lng = <%= game.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center,
            scrollwheel: false
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt96VJ4gZNJ1rUF59_NRxPSJZb4pY4N2A&callback=initMap"></script>

<% include ../partials/footer %>