<% include ../partials/header %>

<!--show Section-->
<section class="container">
    
    <div class="grid">
        
        <div class="info-card">
            <time class="info-item info-time" datetime="<%= game.date.toDateString() %>"><%= moment(game.date).format('LL') %></time>
            <div class="info-item info-title"><%= game.title %></div>
            <p class="info-item info-creator"><%= `Created ${moment(game.createdAt).fromNow()} by ${game.creator.username}` %></p>
            <div class="info-item">Field type: <span class="pill"><%= game.fieldType %></span></div>
            <div class="info-item">Game type: <span class="pill"><%= game.gameType %></span></div>
            <% if (currentUser && game.creator.id.equals(currentUser._id)) { %>
            <div class="info-item info-buttons">
            <a class="btn btn-edit" href="/games/<%= game._id %>/edit">Edit</a>
            <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <button class="btn btn-delete">Delete</button>
            </form>
            </div>
            <% } %>
        </div>
        
       <div class="info-card">
            <div class="info-location">
                <time class="info-time" datetime="<%= game.date.toDateString() %>"><%= moment(game.date).format('LL') %></time>
                <time class="info-time" datetime="<%= moment(game.date).format('LT') %>"><%= moment(game.date).format('LT') %></time>
                <p class="info-item"><%= game.address %></p>
            </div>
            <div id="map"></div>
        </div>
        
        <div class="info-card">
            <div class="info-players">
                <div class="info-players-header">
                    <p>Who's going</p>
                    <button id="updatePlayers" onclick="updatePlayers('<%= game._id %>')">Update</button>
                </div>
                <ul class="info-player-list">
                    <% game.playersGoing.forEach((player) => { %>
                    <li class="info-player"><%= player.username %></li>
                    <% }) %>
                </ul>
                <% if (!game.creator.id.equals(currentUser._id)) { %>
                <div class="info-players-footer">
                    <p>Going?</p>
                    <div>
                        <% if (game.playersGoing.some(player => player.username === currentUser.username)) { %>
                        <button id="removePlayer" onclick="removePlayer('<%= game._id %>', '<%= currentUser._id %>')"><i class="fas fa-times"></i></button>
                        <button id="addPlayer" class="selected"><i class="fas fa-check"></i></button>
                        <% } else { %>
                        <button id="removePlayer"><i class="fas fa-times"></i></button>
                        <button id="addPlayer" onclick="addPlayer('<%= game._id %>', '<%= currentUser._id %>')"><i class="fas fa-check"></i></button>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        
        <div class="info-card comment-box">
            <div class="comment-box-top">
                <p><%= game.comments.length %> comments</p>
                <span class="btn btn-comment" id="commentCollapser">Add comment</span>
            </div>
            <!--Start of collapse form-->
            <div class="comment-add collapse" id="collapseComment">
                <h4>Write your comment</h4>
                <form class="form-comment" action="/games/<%= game._id %>/comments" method="post">
                    <label class="input-desc" for="game-comment-username">Username</label>
                    <input class="comment-input" type="text" id="game-comment-username" disabled value="<%= currentUser.username %>"/>
                    <label class="input-desc" for="game-comment">Comment</label>
                    <textarea class="comment-area" type="text" id="game-comment" name="comment[text]" placeholder="Your comment..." rows="3" autofocus required></textarea>
                    <button class="btn btn-add-comment btn-comment">Submit</button>
                </form>
            </div>
            <!--End of collapse form-->
            <hr>
            <% if (game.comments.length > 0) { %>
            <% game.comments.forEach((comment) => { %>
            <div class="comment">
                <div class="comment-header">
                    <div class="comment-avatar">
                        <img src="/images/avatar.png"></img>
                    </div>
                    <div class="comment-author">
                        <p><%= comment.author.username %></p>
                    </div>
                    <div class="comment-date">
                        <small class="comment-date"><%= moment(comment.createdAt).fromNow() %></small>
                    </div>
                </div>
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <div class="comment-text">
                    <p class="comment-text-p" id="collapseEditText<%= comment._id %>"><%= comment.text %></p>
                    <!--Start of collapse form-->
                    <div class="collapse comment-edit-form" id="collapseEdit<%= comment._id %>">
                        <form class="form-comment" action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                                <textarea class="comment-area" type="text" id="game-comment" name="comment[text]" rows="2" autofocus required><%= comment.text %></textarea>
                                <button class="btn btn-add-comment btn-comment">Edit</button>
                        </form>
                    </div>
                    <!--End of collapse form-->
                    <div class="comment-buttons">
                        <span class="comment-edit" id="editCollapser" onclick="editComment('<%= comment._id %>')">Edit</span>
                        <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="comment-delete">Delete</button>
                        </form>
                    </div>
                </div>
                <% } else { %>
                <div class="comment-text"><p><%= comment.text %></p></div>
                <% } %>
            </div>
            <% }) %>
            <% } %>
        </div>
        
    </div>
    
</section>

<script>
    
    function updatePlayers(id) {
        let request = new XMLHttpRequest();
        request.open("GET", `/games/${id}/get-players`, true);
        
        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
                // Success!
                const data = JSON.parse(request.responseText);
                const list = document.querySelector(".info-player-list");
                while (list.firstChild) {
                    list.removeChild(list.firstChild);
                }
                Array.from(data, (player) => {
                    let playerNode = document.createElement("li");
                    playerNode.className = "info-player"
                    playerNode.textContent = player.username
                    list.appendChild(playerNode);
                });
            } else {
                // We reached our target server, but it returned an error

            }
        };
        
        request.onerror = function() {
            // There was a connection error of some sort
        };
        
        request.send();
    }
    
    function addPlayer(gameId, userId) {
        
        let addButton = document.querySelector("#addPlayer");
        let removeButton = document.querySelector("#removePlayer");
        
        console.log(gameId);
        console.log(userId);
        
        let data = `user=${userId}`;
        
        let request = new XMLHttpRequest();
        request.open("POST", `/games/${gameId}/add-player`, true);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
            // Success!
            updatePlayers(gameId);
            addButton.classList.add("selected");
            addButton.setAttribute("onclick", "");
            removeButton.classList.remove("selected");
            removeButton.setAttribute("onclick", `removePlayer('${gameId}', '${userId}')`);
            } else {
            // We reached our target server, but it returned an error
            }
        };
        request.send(data);
    }
    
    function removePlayer(gameId, userId) {
        
        let addButton = document.querySelector("#addPlayer");
        let removeButton = document.querySelector("#removePlayer");
        
        console.log(gameId);
        console.log(userId);
        
        let data = `user=${userId}`;
        
        let request = new XMLHttpRequest();
        request.open("POST", `/games/${gameId}/remove-player`, true);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
            // Success!
            updatePlayers(gameId);
            removeButton.classList.add("selected");
            removeButton.setAttribute("onclick", "");
            addButton.classList.remove("selected");
            addButton.setAttribute("onclick", `addPlayer('${gameId}', '${userId}')`);
            } else {
            // We reached our target server, but it returned an error
            }
        };
        request.send(data);
    }
</script>

<script>
    const commentCollapser = document.querySelector("#commentCollapser");
    const collapseComment = document.querySelector("#collapseComment");
    commentCollapser.addEventListener("click", function(e) {
        collapseComment.classList.toggle("collapse");
    });
    
    function editComment(id) {
        document.querySelector(`#collapseEditText${id}`).classList.toggle("collapse");
        document.querySelector(`#collapseEdit${id}`).classList.toggle("collapse");
        
    };
</script>

<script>
    function initMap() {
        var lat = <%= game.lat %>;
        var lng = <%= game.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center,
            scrollwheel: false
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt96VJ4gZNJ1rUF59_NRxPSJZb4pY4N2A&callback=initMap"></script>

<% include ../partials/footer %>